body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center;
}

.input-container {
  width: 100%;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #a6d87a;
  color:black;
  font-weight: bold;
}

.forgot-password-link,
.signup-link {
  margin-top: 10px;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* signup */
.signup-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.signup-label {
  display: block;
  margin-bottom: 5px;
}

.signup-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.signup-file-input {
  margin-bottom: 10px;
}

.signup-button {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 170px;
}


.signup-button:hover {
  background-color:rgb(154, 245, 245); /* Change this to your desired hover background color */
  
}

.signup_links {
  color:white; 
  text-decoration: none; 
 } 

.signup_links:hover {
  text-decoration: none; /* Remove default underline for Link on hover */
  color: black;
}

/* UserList.css */



.user_table {
  margin: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.user-photo {
  max-width: 50px;
  max-height: 50px;
  
}

.edit-delete-buttons {
  display: flex;
  gap: 10px;
}

.edit-button, .delete-button {
  padding: 8px;
  cursor: pointer;
  background-color: #7278cd;
  color: white;
  border: none;
  border-radius: 4px;
}

.edit-button:hover, .delete-button:hover {
  background-color: #332373;
}

.delete-button {
  background-color: #f44336;
}

.delete-button:hover {
  background-color: #d32f2f;
}







